%header.bar-title
  %h1.title
    Linker
.content.content-padded  
  %br
    %h2 Welcome to Linker!
    %p The fun way to connect with people right around you!
  
  
  = link_to "Sign Up!", login_path, class:"button-main button-block", style:"width:50%;margin:0 auto;"
  
