%header.bar-title
  %h1.title
    Linker
%script
  alert("This site uses your current location. Proceed if you want");
  
.content
  %br
    %h2.padded Welcome to Linker!
    %p The fun way to connect with people right around you!


  = link_to "Sign Up!", login_path, class:"button-main button-block"
