%header.bar-title
  %h1.title
    Linker

.content
  %br
    %h2.padded Welcome to Linker!
    %p The fun way to connect with people right around you!


  = link_to "Sign Up!", login_path, class:"button-main button-block"
