%header.bar-title
  %a.button{href:"/matches"}
    %img.tab-icon{src:"/assets/icon-home.png"}
  %h1.title
    Linker
  %a.button{href:"/matches"}
    %img.tab-icon{src:"/assets/icon-profile.png"}
.content
  %br
  %h3.content-padded
    Copy this text
  %br
  %div.content-padded
    %textarea Damn! Check this out: http://adam-franky.herokuapp.com/
  %h3.content-padded
    Then,
  %br
  %a.content-padded.button-positive.button-block{href:"sms:"}
    Press this button!