%header.bar-title
  %a.button-prev{href:"/my_matches"}
    Back
  %h1.title
    Messages - 
    = User.find(params[:id]).firstName      
  
.content
  = render :partial => "compose"

  %ul.list
    - @messages.each do |message|
      %li
        %img{src:"#{message.sender.picture_url}", width:"40px", height:"40px"}
        = message.content