%strong
  Hello my dear 
  = current_user.firstName

%p
  You currently are registered to be staying at 
  %br
  = #gmaps4rails("map_options" => {"center_on_user" => true, "zoom" => 10},"markers" => { "data" => @markers })
  = gmaps4rails(@markers)