%strong
  Hello my dear 
  = current_user.firstName

%p
  You currently are registered to be staying at 
  %br
  -current_user.locations.each do |x|
    - address = "#{x.latitude}, #{x.longitude}"
    = render 'layouts/map', address: address